Welcome to another homework! The purpose is to test and practice your understanding of the current topic.

Once you have done all of them, send me your solutions

TUPLES

1. Create a tuple and a list both containing elements 1,2,3,4,5. Try to change the element 3 to 9. What happens? Why?

In [2]:
tuple0 = (1,2,3,4,5)
list0 = [1,2,3,4,5]
list0[2] = 9
print(list0)
tuple0[2] = 9 # tuple is immutable
print(tuple0)

[1, 2, 9, 4, 5]

TypeError: 'tuple' object does not support item assignment

2. How many times is the number 2 in tuple1? What is the index of number 3?

In [5]:
tuple1 = (1,2,3,2,4,5,6,2,3,22)
print(tuple1.count(2))
print(tuple1.index(3))

3
2


SETS

3. Create a set from list that contains every letter in your name (separately).

In [11]:
name = "Dmitrii"
name_list = list(name)
print(name_list)
name_set = set(name_list)
print(name_set)

['D', 'm', 'i', 't', 'r', 'i', 'i']
{'i', 'r', 'm', 't', 'D'}

Additionaly to the main document, check set operations here 
https://docs.python.org/2/library/sets.html

4. Is set1 subset of set2?

In [17]:
set1 = {4,5,6}
set2 = {1,2,3,4,5,6}
print(set1.issubset(set2))
# or
print(set1 <= set2)

True
True

5. Can there be such two sets, that they are subsets of each other? If yes, write them down.

In [18]:
# Yes
a_set = {1, 2, 3}
another_set = {1, 2, 3}
print(a_set.issubset(another_set))
print(another_set.issubset(a_set))

True
True

6. Create a new set containing all elements from sets "lower" and "upper".

In [24]:
lower = {'a', 'b', 'c', 'd'}
upper = {'A', 'B', 'C', 'D'}
lower_and_upper = lower | upper
print(lower_and_upper)
# or
lower_and_upper = lower.union(upper)
print(lower_and_upper)

{'c', 'a', 'b', 'B', 'd', 'D', 'C', 'A'}
{'c', 'a', 'b', 'B', 'd', 'D', 'C', 'A'}

7. From set3 and set4 create set5 which will contain elements that are either in set3 or set4, but not both.

   Then create again from set3 and set4 new set that contains all elements that are in set3 but none of the ones that are also in set4.
   
   Lastly, create new set that only contains elements that are in both set3 and set4.

In [28]:
set3 = {10, 20, 30, 35, 40}
set4 = {10, 35, 50, 89}
set5 = set3 ^ set4
print(set5)
# or
set5 = set3.symmetric_difference(set4)
print(set5)

{40, 50, 20, 89, 30}
{40, 50, 20, 89, 30}

8. Try to remove number 5 from set6. What happens? Why?

   Now try to remove number 6.

In [31]:
set6 = {99, 82, 15, 6, 100}
set6.remove(6)
print(set6)
set6.remove(5) # KeyError becouse 5 is not present in set6

{82, 99, 100, 15}

KeyError: 5


BOOLEANS

For the following questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

Logical operands are AND and OR explained here https://www.onlinemathlearning.com/truth-tables.html
Parenthesis encapsulate separate statements.

9. Check if 8 is bigger than 7

In [32]:
8 > 7

True

10. Check if list1 and list2 are the same. Make sets of these lists and compare them. What is the difference? Why?

In [34]:
list1 = ['Jane', 'Mary', 'Nina', 'Daisy']
list2 = ['Mary', 'Jane', 'Daisy', 'Nina']
print(list1 == list2) # order matters
print(set(list1) == set(list2)) # order doesn't matter

False
True

11. Try to evaluate the following statements in your head/ on paper. Afterwards, check in python.

    Is the following True or False?   
    
    a = 1, b = 2, c = 3, d = 4
    
    a) (a == 1 ) and (b == 2)
    
    b) (a == 1 ) or (b == 1)
    
    c) (a == 1 ) and ( (b == 1) or (c == 1) )
    
    d) ( c + d > a + b) and ( a != b )
    
    e) ( a == b ) != True
    
    f) True != False and False == ( ( b > d ) or (a == 0) )

In [41]:
a = 1; b = 2; c = 3; d = 4
print(f"a) {(a == 1 ) and (b == 2)}")
print(f"b) {(a == 1 ) or (b == 1)}")
print(f"c) {(a == 1 ) and ( (b == 1) or (c == 1) )}")
print(f"d) {( c + d > a + b) and ( a != b )}")
print(f"e) {( a == b ) != True}")
print(f"f) {True != False and False == ( ( b > d ) or (a == 0) )}")

a) True
b) True
c) False
d) True
e) True
f) True