Welcome to another homework! The purpose is to test and practice your understanding of the current topic.

Once you have done all of them, send me your solutions.

Now we will combine all the knowledge you gained so far.

USE FOR LOOPS for all exercises.


FOR LOOPS

1. For every letter in list1, print out True if the letter is in the str1, and False otherwise. Capitalization should not matter, so c=C.

In [7]:
list1 = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']
str1 = 'Congratulations'

2. For numbers from 1 to 100 print out every number that is the multiple of 5 or 3. Each number should occur only once!

HINT: read more about range() function here https://docs.python.org/3/library/stdtypes.html?highlight=range#range

3. Using for loop, create a list that contains only odd numbers up to 50.

In [10]:
list2 = []

4. Using for loop, print out every fourth letter of sentence1. What other method can you use?

In [22]:
sentence1 = 'This is not the longest sentence in the world, but it proves my point.'

5. Now again use sentence1, and delete all non-alphabetic characters from it.

HINT: read more about isalpha() https://docs.python.org/3/library/stdtypes.html?highlight=isalpha#str.isalpha

6. Let's go to tuples unpacking. For each tuple in list3, print out the sum of the numbers it contains.

In [15]:
list3 = [(1,1,2), (1,2,3), (4,3,5), (9,2,0)]

7. Iterate on sorted values of dict1, and print out only the values, which contain the letter 'a' or 'u'.

In [19]:
dict1 = {'k1':'melon', 'k2':'orange', 'k3':'cucumber', 'k4':'celery', 'k5':'pomegranate'}

8. If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.
Find the sum of all the multiples of 3 or 5 below 1000. 

There are multiple approaches for resolving this. Use for loop, and if you want, think of a better solution. 

HINT: result is 233168

9. A palindromic number reads the same both ways; 11,121,313, etc. Create a list consisting of all palindromes lower than 1000.

10. Use list4 and list5 to print out the english equivalent of numbers 21,22,23....59. Don't forget to include the '-' character, i.e. twenty-one.

HINT: use a for loop inside another for loop!

In [24]:
list4 = ['twenty', 'thirty', 'forty', 'fifty']
list5 = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']