Welcome to another homework! The purpose is to test and practice your understanding of the current topic.

Once you have done all of them, send me your solutions.

Now we will combine all the knowledge you gained so far.

USE FOR LOOPS for all exercises.


FOR LOOPS

1. For every letter in list1, print out True if the letter is in the str1, and False otherwise. Capitalization should not matter, so c=C.

In [1]:
list1 = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']
str1 = 'Congratulations'
for letter in list1:
    if letter in str1.lower():
        print(True)
    else:
        print(False)

True
False
True
False
False
False
True
False
True

2. For numbers from 1 to 100 print out every number that is the multiple of 5 or 3. Each number should occur only once!

HINT: read more about range() function here https://docs.python.org/3/library/stdtypes.html?highlight=range#range

In [4]:
for number in range(1, 101):
    if number % 5 == 0:
        print(number)
    elif number % 3 == 0:
        print (number)

3
5
6
9
10
12
15
18
20
21
24
25
27
30
33
35
36
39
40
42
45
48
50
51
54
55
57
60
63
65
66
69
70
72
75
78
80
81
84
85
87
90
93
95
96
99
100

3. Using for loop, create a list that contains only odd numbers up to 50.

In [6]:
list2 = []
for number in range (1, 51):
    if number % 2 != 0:
        list2.append(number)
print(list2)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

4. Using for loop, print out every fourth letter of sentence1. What other method can you use?

In [20]:
sentence1 = 'This is not the longest sentence in the world, but it proves my point.'
i = 0
for index in range(3, len(sentence1), 4):
    if sentence1[index] != " ":
        print(sentence1[index], end="")    
print()

#or

print(sentence1[3::4].replace(" ", ""))

sgtelbirsn
sgtelbirsn

5. Now again use sentence1, and delete all non-alphabetic characters from it.

HINT: read more about isalpha() https://docs.python.org/3/library/stdtypes.html?highlight=isalpha#str.isalpha

In [25]:
for letter in sentence1:
    if not letter.isalpha():
        sentence1 = sentence1.replace(letter, "")
sentence1

'Thisisnotthelongestsentenceintheworldbutitprovesmypoint'

6. Let's go to tuples unpacking. For each tuple in list3, print out the sum of the numbers it contains.

In [26]:
list3 = [(1,1,2), (1,2,3), (4,3,5), (9,2,0)]
for (x, y, z) in list3:
    print(x + y + z)

4
6
12
11

7. Iterate on sorted values of dict1, and print out only the values, which contain the letter 'a' or 'u'.

In [27]:
dict1 = {'k1':'melon', 'k2':'orange', 'k3':'cucumber', 'k4':'celery', 'k5':'pomegranate'}
for value in dict1.values():
    if 'a' in value or 'u' in value:
        print(value)

orange
cucumber
pomegranate

8. If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.
Find the sum of all the multiples of 3 or 5 below 1000. 

There are multiple approaches for resolving this. Use for loop, and if you want, think of a better solution. 

HINT: result is 233168

In [32]:
result = 0
for number in range(3, 1000):
    if number % 3 == 0 or number % 5 == 0:
        result += number
result

233168

9. A palindromic number reads the same both ways; 11,121,313, etc. Create a list consisting of all palindromes lower than 1000.

In [4]:
palindromic_numbers = []
number = 0
while number < 1000: # Well it's not for
    number_str = str(number)
    if len(number_str) < 2:
        palindromic_numbers.append(number)
    else:
        for index in range(len(number_str) // 2):
            if number_str[index] == number_str[-(1+index)]:
                palindromic_numbers.append(number)
    number += 1
print(palindromic_numbers)           
# or
palindromic_numbers = []
for number in range(1000):
    if str(number) == str(number)[::-1]: # easy and clever - thank you google!
      palindromic_numbers.append(number)
print(palindromic_numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33, 44, 55, 66, 77, 88, 99, 101, 111, 121, 131, 141, 151, 161, 171, 181, 191, 202, 212, 222, 232, 242, 252, 262, 272, 282, 292, 303, 313, 323, 333, 343, 353, 363, 373, 383, 393, 404, 414, 424, 434, 444, 454, 464, 474, 484, 494, 505, 515, 525, 535, 545, 555, 565, 575, 585, 595, 606, 616, 626, 636, 646, 656, 666, 676, 686, 696, 707, 717, 727, 737, 747, 757, 767, 777, 787, 797, 808, 818, 828, 838, 848, 858, 868, 878, 888, 898, 909, 919, 929, 939, 949, 959, 969, 979, 989, 999]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33, 44, 55, 66, 77, 88, 99, 101, 111, 121, 131, 141, 151, 161, 171, 181, 191, 202, 212, 222, 232, 242, 252, 262, 272, 282, 292, 303, 313, 323, 333, 343, 353, 363, 373, 383, 393, 404, 414, 424, 434, 444, 454, 464, 474, 484, 494, 505, 515, 525, 535, 545, 555, 565, 575, 585, 595, 606, 616, 626, 636, 646, 656, 666, 676, 686, 696, 707, 717, 727, 737, 747, 757, 767, 777, 787, 797, 808, 818, 828, 838, 848, 858, 868, 878, 888, 898, 909, 919, 929, 939, 949, 959, 969, 979, 989, 999]

10. Use list4 and list5 to print out the english equivalent of numbers 21,22,23....59. Don't forget to include the '-' character, i.e. twenty-one.

HINT: use a for loop inside another for loop!

In [56]:
list4 = ['twenty', 'thirty', 'forty', 'fifty']
list5 = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']
for number in range(21, 60):
    if number % 10 == 0:
        print(list4[(number // 10) - 2])
    else:
        print(f"{list4[(number // 10) - 2]}-{list5[(number % 10) - 1]}")

twenty-one
twenty-two
twenty-three
twenty-four
twenty-five
twenty-six
twenty-seven
twenty-eight
twenty-nine
thirty
thirty-one
thirty-two
thirty-three
thirty-four
thirty-five
thirty-six
thirty-seven
thirty-eight
thirty-nine
forty
forty-one
forty-two
forty-three
forty-four
forty-five
forty-six
forty-seven
forty-eight
forty-nine
fifty
fifty-one
fifty-two
fifty-three
fifty-four
fifty-five
fifty-six
fifty-seven
fifty-eight
fifty-nine